Ignore/
*.pptx
*.ppt
*.odt
07-BSDS/BSR/BSDS500/
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
*.zip
blood-cells/
*.jpg
*.JPEG
cifar-10-batches-py/
*.tar.gz
*.tar
05-Textos/python/*.txt

BSDS_small/
05-Textons/python/data
*.mat
*.png
*.jpg

08-PHOW/imageNet200
vlfeat-0.9.21/
