Ignore/
*.pptx
*.ppt
*.odt
07-BSDS/BSR/BSDS500/
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
*.zip
blood-cells/
*.jpg
*.JPEG
cifar-10-batches-py/
*.tar.gz
*.tar
05-Textos/python/*.txt
BSDS_small/
05-Textons/python/data
*.mat
*.png
*.jpg
*.csv
08-PHOW/imageNet200
vlfeat-0.9.21/
08-PHOW/matlab/data
09-HOG/LabHOG/data
LabHOG.zip
10-LogisticReg/fer2013
skin-cancer-mnist-ham10000/
celeba-dataset/

13-FCN/data/
13-FCN/logs/
13-FCN/fcn.berkeleyvision.org