Ignore/
*.pptx
*.ppt
*.odt
07-BSDS/BSR/BSDS500/
*.tgz
*.h5
*.hdf5
*solution*
solution/
_data/
*.pyc
.ipynb*
*.zip
blood-cells/
*.jpg
*.JPEG
cifar-10-batches-py/
*.tar.gz
*.tar
05-Textos/python/*.txt
BSDS_small/
05-Textons/python/data
*.mat
*.png
*.jpg
*.csv
08-PHOW/imageNet200
vlfeat-0.9.21/
08-PHOW/matlab/data
09-HOG/LabHOG/data
LabHOG.zip
10-LogisticReg/fer2013
skin-cancer-mnist-ham10000/
celeba-dataset/
ISIC2018_Task1-2_Training_Input/
checkpoints/
checkpoints_lr0.001/
checkpoints_lr0.01/
13-FCN/data/
13-FCN/logs/
13-FCN/fcn.berkeleyvision.org
14-GANs/dataset
14-GANs/runs
14-GANs/torch_data
checkpointCPClaass400.pth
check_unet_membrane.hdf5
check_unet_membrane_e_10_lr_01.hdf5
check_unet_membrane_e_10_lr_0_01.hdf5
model_e_10_lr_01.h5
model_e_10_lr_0_01.h5
model_lr0.01_10epochs.h5
model_lr0.1_10epochs.h5
